[submodule "sc-ecommerce/lib/openzeppelin-contracts"]
	path = sc-ecommerce/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "stablecoin/sc/lib/openzeppelin-contracts"]
	path = stablecoin/sc/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
